body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0bdbd;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

form {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}

input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
}
