<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication App</title>
    <style>
        h1{
            text-align: center;

        }
        body{
            background-color: rgb(125, 175, 158);
        }
        #a
        {
            text-align: center;
            
        }
    </style>
</head>
<body>
    <h1>Welcome to the Authentication App</h1><br>
    <div id="a">
    <a href="http://localhost:8000/login">Login</a><br><br><br>
    <a href="http://localhost:8000/register">Register</a>
    </div>
</body>
</html>
